.site-header {
  padding-top: $space-1;
  padding-bottom: $space-2;
  font-family: 'VT323', monospace;
}

.site-header a {
  color: #333;
  font-size: $h1;
  background-image: none;
}

.site-header {
  font-size: $h2;
}

.site-title p {
  color: #333;
  font-size: 3rem;
}

.site-nav {
  margin-top: $space-2;
}

.site-header nav a {
  color: #333;
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: lime;
  opacity: 1;
}

.site-nav a {
  text-transform: lowercase;
}

.site-nav a+a {
  margin-left: 1em;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
  color: lime;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}

.cursor {
  content: '';
  display: inline-block;
  bottom: 0;
  background: #444;
  line-height: 60px;
  margin-bottom: -2px;
  width: 7px;
  height: 2rem;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    background: transparent;
  }

  50% {
    background: #444;
  }
}