.pagination {
  font-size: 1.5rem;
  font-family: 'VT323', monospace;
  text-align: center;
}

.pagination a, .pagination .disabled {
  background: #fafafa;
  border-radius: 0.1875em;
  border: 2px dotted #333;
  color: #333333;
  padding: 0.5em 1em;
}

.pagination .disabled {
  opacity: 0.3;
}

.pagination a:hover, .pagination a:focus {
  background: lime;
  color: #333;
}

.pagination a:active {
  background: lime;
}

.pagination .button {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.button-disabled {
  opacity: 0.33;
  background-color: #999;
}

.button-disabled:hover,
.button-disabled:active,
.button-disabled:focus {
  cursor: not-allowed;
  background-color: #999;
}
