
.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0.75em;
  border-bottom: 2px dashed #333;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: #333;
}

.post-footer {
  font-family: 'VT323', monospace;
  margin-top: .75rem;
  text-align: center;
}

.post-footer p {
  font-size: 1.5rem;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  font-family: 'VT323', monospace;
  font-size: 1.5rem;
  width: auto;
  margin: 0;
  padding: .25em 0;
  color: #333;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}
