<!DOCTYPE html>
<html>
{% include head.html %}

<body class="site{% if site.animated %} animated fade-in-down{% endif %}">
  {% if site.google_tag_manager %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_tag_manager }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', "{{ site.google_tag_manager }}");
  </script>
  {% endif %}
  <div class="site-wrap center">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        {{ content }}
      </div>
    </div>
  </div>
  {% include cookie-consent.html %}
  {% include footer.html %}
</body>

</html>